{% extends "base.html.twig" %} 

{% block body%} 

<h1>
{% if editMode %} 
     Modification d'un article 
{% else %} 
     Création d'un article
{% endif %}     
</h1> 

{#{{form(formArticle)}}#}
{#form() permet d'afficher un formulaire#}

{{form_start(formArticle, {
    attr: {
        novalidate: 'novalidate'
    }
}) }}
{# form_start() & form_end() permettent de délimiter un formulaire, de modifier ses champs, modifier la méthode...#}

{# form_widget() permet de gérer l'affichage d'un champ #}
{# form_row permet de gérer l'affichage d'un champ ainsi que son label#}
{{form_row(formArticle.title)}}

{{form_row(formArticle.content, {
  label: "Contenu",  
  attr: {
    placeholder: "Contenu de l'article"
  }
})}}

{{form_row(formArticle.image)}}

<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
       Enregistrer les modifications
{% else %}
       Ajouter l'article 
{% endif %}       
</button>


{{form_end(formArticle)}}

{% endblock %} 

